<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <%= link_to "戻る",group_path(@group),class: "btn btn-secondary" %>
      <h3><%= @group.name %>のチャットルーム</h3>

        <%= form_with model: @message,url: group_messages_path(@group),method: :post,local: false do |f| %>
          <%= f.text_area :message,placeholder: "メッセージを入力",id: "textarea",class: "form-control" %>
          <%= f.submit "送信",class: "btn btn-primary" %>
        <% end %>

    </div>
  </div>
  <div class="d-flex flex-column">

      <div id="chat">
        <%= render "user/messages/message",messages: @messages %>
      </div>

  </div>
</div>