<% unless post.user == current_user %>
  <% if post.favorited_by?(current_user) %>
  <%= link_to post_favorite_path(post.id),method: :delete,remote: true, class: "list-group-item button01 favorited d-flex align-items-center" do %>♥<%= post.favorites.count %>いいね<% end %>
  <% else %>
  <%= link_to post_favorite_path(post.id),method: :post,remote: true, class: "list-group-item button01 unfavorited d-flex align-items-center" do %>♡<%= post.favorites.count %>いいね<% end %>
  <% end %>
<% else %>
  <div class="list-group-item button01 d-flex align-items-center">
    ♥<%= post.favorites.count %>いいね
  </div>
<% end %>