<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="text-center">
          <%= form_with url: admin_search_path,method: :get do |f| %>
            <%= f.select :range,options_for_select([["ユーザー"],["投稿"],["グループ"]]) %>
            <%= f.text_field :word,placeholder: "検索ワード" %>
            <%= f.hidden_field :search,value: "partial_match" %>
            <%= button_tag type: :submit, class: "btn btn-outline-primary" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          <% end %>
      </div>

      <% if @range == "ユーザー" %>
        <h3><%= @word %>を含むユーザー</h3>
        <div class="d-flex flex-wrap">
         <%= render 'admin/users/index', users: @users %>
      </div>

      <% elsif @range == "投稿" %>

        <h3><%= @word %>を含む投稿</h3>
        <div class="d-flex flex-wrap">
          <%= render 'admin/posts/index', posts: @posts %>
        </div>

      <% else %>
        <h3><%= @word %>を含むグループ</h3>
        <div class="d-flex flex-wrap">
          <%= render 'admin/groups/index', groups: @groups %>
        </div>

      <% end %>

    </div>
  </div>
</div>