<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="report-title text-center">
        <h3>通報</h3>
      </div>

      <%= form_with model: [@user,@report] do |f| %>
        <div class="form-group">
          <%= f.label :reason, "通報理由をご記入下さい" %>
          <%= f.text_area :reason, value: @report.reason, rows: "3", class: "form-control" %>
          <%= f.label :url, "該当URLがありましたら貼付ください" %>
          <%= f.text_field :url, class: "form-control" %>
          <%= f.submit "通報する", class: "btn btn-danger" %>
        </div>
      <% end %>

    </div>
  </div>
</div>