<div class="flash-notice text-center">
  <%= flash[:notice] %>
</div>

<div id="flash-message" class="text-center" style="background-color: #ffffab">
  <%= render 'user/comments/flash' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render "admin/users/info2",user: @user,report_count: @report_count %>
    </div>

    <div class="col-md-7 offset-1">
      <h3 class="text-center mt-3">
        <%= @post.title %>
            <%= link_to "削除",admin_post_path(@post),method: :delete,"data-confirm"=>"本当に削除しますか？",class: "btn btn-danger" %>
      </h3>

      <table class="table">
        <tr>
          <td></td>
          <td>
            ♥<%= @post.favorites.count %>いいね
          </td>
          <td id= "comment_counter">
            <%= link_to admin_post_comments_path(@post) do %>
              コメントを見る(<%= @post.comments.count %>)
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= image_tag @post.get_image(200,100) %></td>
          <td colspan="2"><%= @post.body %></td>
        </tr>
      </table>
    </div>
  </div>
</div>