<table class="table table-hover">
  <tr>
    <td><%= image_tag user.get_profile_image(100,100) %></td>
    <td>
      <% if user == current_user %>
      <%= link_to "編集",edit_user_path(current_user),class: "btn btn-primary" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td>投稿数</td>
    <td>
      <div class="button02">
      <%= link_to every_path(user.id) do %>
      <%= user.posts.count %>件
      <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <td>いいね</td>
    <td id="favorite_count">
      <%= render "user/favorites/favorite_count",user: user %>
    </td>
  </tr>
  <tr>
    <td>フォロー</td>
    <td>〇人</td>
  </tr>
  <tr>
    <td>フォロワー</td>
    <td>〇人</td>
  </tr>
</table>
<div class="bg-white">
  <%= user.introduction %>
</div>