<div class="container">
  <div class="row mx-auto">
    <div class="col-4 mx-auto">

      <div class="title">編集画面</div>

      <% if @user.errors.any? %>
      <%= @user.errors.count %>件のエラーが発生しました
      <% @user.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
       <% end %>
      <% end %>

      <%= form_with model: @user do |f| %>
      <p>プロフィール画像</p>
      <%= f.file_field :profile_image %><br>

      <%= f.label :name,"名前" %>
      <%= f.text_field :name,class: "form-control" %>

      <%= f.label :introduction,"自己紹介" %>
      <%= f.text_area :introduction,row: "5",class: "form-control" %>

      <%= f.submit "更新",class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
