<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">

      <h2>
        <i class="fa-solid fa-user"></i>
        ユーザー一覧
        <i class="fa-solid fa-user"></i>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        <%= link_to "投稿数順",users_path(posts: true) %>
       |<%= link_to "フォロー多い順",users_path(follows_count: true) %>
       |<%= link_to "フォロワー多い順",users_path(follower_count: true) %>
      </p>

      <div class="d-flex flex-wrap">
        <%= render 'user/users/index', users: @users %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>