<div class="flash-notice text-center">
  <%= flash[:notice] %>
</div>

<div class="flash-alert text-center">
  <%= flash[:alert] %>
</div>

<div class="container">
 <h3><%= @user.name %>さんのページ</h3>
  <div class="row">

    <div class="col-4">
      <%= render "user/users/info",user: @user %>
    </div>

    <div class="col-7 offset-1">
     <% if @groups.any? %>
        <ul>
          <% @groups.each do |group| %>
            <li>
              <%= link_to group.name, group %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p><%= @user.name %> はまだグループを作成していません。</p>
      <% end %>
    </div>
  </div>
</div>
