<% if comments.present? %>
  <table class="table table-hover">
    <% comments.order(created_at: :desc).each do |comment| %>
    <tr>
      <td class="custom-width">
        <%= link_to user_path(comment.user_id) do %>
          <%= image_tag comment.user.get_profile_image(100,100) %><br>
          <%= comment.user.name %>
        <% end %>
      </td>
      <td class="custom-width2">
        <%= comment.comment %>
      </td>
      <td>
        <%= strftime_sec(comment.created_at) %>
      </td>
      <% if comment.user_id == current_user.id %>
        <td>
          <%= link_to "削除",post_comment_path(post,comment),method: :delete,remote: true,"data-confirm"=>"本当に削除しますか？",class: "btn btn-danger" %>
        </td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <%= paginate comments %>
<% else %>
  <h3>コメントはありません</h3>
<% end %>
