<div id="flash-message" class="text-center" style="background-color: #ffffab">
  <%= render 'user/comments/flash' %>
</div>


<div class="container">
  <%= link_to "戻る",post_path(@post),class: "btn btn-secondary" %>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="title">
        <%= @post.title %>のコメント一覧
      </div>

      <div class="d-flex flex-column align-items-end">
         <%= form_with model: [@post,@comment], url: post_comments_path(@post),local: false do |f| %>
          <%= f.text_area :comment,placeholder: "コメントはこちら",id: "textarea", size: "50%" %>
          <%= f.submit "送信",class: "btn btn-success" %>
         <% end %>
      </div>

      <div id="comment">
        <%= render "user/comments/comment", post: @post, comments: @comments %>
      </div>

    </div>
  </div>
</div>