<div class="container">
  <h2 class="title text-center"><%= @group.name %></h2>
  <h4 class="text-center">承認待ち一覧</h4>

  <div class="row">
    <div class="col-10 mx-auto">
      <% if @permits.present? %>
        <div class="table-responsive">
          <table class="table table-hover text-nowrap bg-light">
            <thead class="thead-dark">
              <tr>
                <th></th>
                <th>名前</th>
                <th>自己紹介</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <% @permits.each do |permit| %>
            <tr>
              <td>
                <%= image_tag permit.user.get_profile_image(100,100) %>
              </td>
              <td>
                <%= link_to permit.user.name,user_path(permit.user_id) %>
              </td>
              <td>
                <%= permit.user.introduction %>
              </td>
              <td class="text-right">
                <%= link_to "加入許可",group_group_users_path(@group,permit_id: permit.id),method: :post,class: "btn btn-success" %>
              </td>
              <td class="text-dark">
                <%= link_to "加入拒否",group_group_user_path(permit.id),method: :delete,class: "btn btn-danger" %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      <% else %>
        <h3 class="text-center">承認待ちユーザーはいません</h3>
      <% end %>
      <div class="mx-auto">
        <%= paginate @permits %>
      </div>
    </div>
  </div>
</div>