<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">

      <h3>通報一覧</h3>

      <table class="table table-hover">
        <tr>
          <th>通報ID</th>
          <th>対象者</th>
          <th>通報者</th>
          <th colspan="2">ステータス</th>
        </tr>

        <% @reports.each do |report| %>
        <tr>
          <td><%= report.id %></td>
          <td><%= link_to report.reported.name,admin_user_path(report.reported_id) %></td>
          <td><%= link_to report.reporter.name,admin_user_path(report.reporter_id) %></td>
          <!--enumで定義した日本語を呼び出す-->
          <td><%= report.status_i18n %></td>
          <td><%= link_to "詳細", admin_report_path(report),class: "btn btn-secondary" %></td>
        </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>