<div class="flash-notice text-center">
  <%= flash[:notice] %>
</div>

<div id="flash-message" class="text-center" style="background-color: #ffffab">
  <%= render 'user/comments/flash' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render "user/users/info",user: @user %>
    </div>

    <div class="col-md-7 offset-1 z-n1">

      <% @post_tags.each do |tag| %>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
      <% end %>

      <h3 class="text-center mt-3">
        <%= @post.title %>
          <% if @post.user_id == current_user.id %>
            <%= link_to "編集",edit_post_path(@post),class: "btn btn-success" %>
            <%= link_to "削除",post_path(@post),method: :delete,"data-confirm"=>"本当に削除しますか？",class: "btn btn-danger" %>
          <% end %>
      </h3>

      <table class="table">
        <tr>
          <td></td>
          <td id="favorite_btn2<%= @post.id %>">
              <%= render "user/favorites/favorite2",post: @post %>
          </td>

          <td id= "comment_counter">
            <%= render "user/comments/comment_count",post: @post %>
          </td>

        </tr>
        <tr>
          <td><%= image_tag @post.get_image(200,100) %></td>
          <td colspan="2"><%= @post.body %></td>
        </tr>
      </table>

      <% if @comments.present? %>
        <h4>最新のコメント</h4>
        <table class="table">
          <td><%= image_tag @comments.user.get_profile_image(100,100) %></td>
          <td><%= link_to @comments.user.name,user_path(@comments.user_id) %></td>
          <td><%= @comments.comment %></td>
        </table>
      <% else %>
        <h4>コメントはありません</h4>
      <% end %>


    </div>
  </div>
</div>
