<div class="flash-notice text-center">
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>グループ一覧</h2>

      <p class="text-center">
        <%= link_to '新しい順', admin_groups_path(latest: "true") %>
       |<%= link_to '古い順', admin_groups_path(old: "true") %>
       |<%= link_to "メンバー数順",admin_groups_path(members: true) %>
      </p>
      <div class="d-flex flex-wrap">
       <% @groups.each do |group| %>
        <div class="card mb-4 ml-5" style="width: 10rem; background-color: #f7f6f5;">
          <div class="mx-auto">
            <%= image_tag group.get_group_image(200,200), style: "width: 150px; height: 120px;" %>
          </div>

          <%= link_to admin_group_path(group.id),class: "button01" do  %>
          <div class="card-body" style="white-space: nowrap; overflow: hidden;">
            <h5 class="card-title"><%= group.name %></h5>
          </div>
           <% end %>

          <ul class="list-group list-group-flush">
            <%= link_to admin_user_path(group.owner_id), class: "list-group-item button01" do %>
              <%= group.user.name %>
            <% end %>

            <%= link_to admin_members_path(group.id) do %>
            <div class="list-group-item button01 d-flex align-items-center">
              メンバー<%= group.users.count %>人
            </div>
            <% end %>

            <div class="list-group-item button01 d-flex align-items-center">
              作成日<%= group.created_at.strftime("%Y/%m/%d") %>
            </div>

          </ul>
        </div>
        <% end %>
      </div>

      <div class="d-flex justify-content-center">
      <%= paginate @groups %>
      </div>

    </div>
  </div>
</div>