<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center"><%= @user.name %>さんの投稿</h3>

      <div class="d-flex flex-wrap">
       <% @posts.each do |post| %>
        <div class="card mb-4 ml-5" style="width: 10rem; background-color: #f7f6f5;">
          <div class="mx-auto">
            <%= link_to admin_post_path(post.id),class: "button01" do  %>
              <%= image_tag post.get_image(200,200), style: "width: 150px; height: 100px;" %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= truncate(post.body, length: 9, omission: '...') %></p>
            </div>
            <% end %>
          <ul class="list-group list-group-flush">

            <div class="list-group-item button01 d-flex align-items-center">
              ♥いいね<%= post.favorites.count %>
            </div>

            <div class="list-group-item button01 d-flex align-items-center">
              コメント<%= post.comments.count %>件
            </div>
          </ul>
        </div>
        <% end %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>
