<div class="navbar">
  <% if admin_signed_in? %>
    <div class="ml-auto">
      <%= link_to "検索",admin_search_path,class: "btn btn-secondary mr-3" %>
      <%= link_to "通報一覧",admin_reports_path,class: "btn btn-secondary mr-3" %>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          一覧
        </button>
        <div class="dropdown-menu">
          <%= link_to "投稿一覧", admin_posts_path, class: "dropdown-item" %>
          <%= link_to "ユーザー一覧", admin_users_path, class: "dropdown-item" %>
          <%= link_to "グループ一覧",admin_groups_path,class: "dropdown-item" %>
        </div>
      </div>
    </div>
      <%= link_to "ログアウト",destroy_admin_session_path,method: :delete,class: "btn btn-secondary mr-3" %>
    </div>
    </div>
  <% elsif user_signed_in? %>
    <div class="ml-auto">
      <span><%= current_user.name %>でログインしています</span>
      <%= link_to notifications_path,class: "btn btn-secondary ml-5 mr-3" do %>
        <% if current_user.notifications.where(checked: false).exists? %>
          <i class="fa-sharp fa-solid fa-bell fa-beat" style="color: #f2ee7d;"></i>
        <% else %>
          <i class="fa-sharp fa-solid fa-bell"></i>
        <% end %>
          通知
      <% end %>

      <%= link_to search_path,class: "btn btn-secondary mr-3" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
        検索
      <% end %>

      <%= link_to user_path(current_user),class: "btn btn-secondary mr-3" do %>
        <i class="fa-solid fa-user"></i>
        マイページ
      <% end %>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          作成
        </button>
        <div class="dropdown-menu">
          <%= link_to "新規投稿",new_post_path, class: "dropdown-item" %>
          <%= link_to "グループ作成",new_group_path, class: "dropdown-item" %>
        </div>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          一覧
        </button>
        <div class="dropdown-menu">
          <%= link_to "投稿一覧", posts_path, class: "dropdown-item" %>
          <%= link_to "ユーザー一覧", users_path, class: "dropdown-item" %>
          <%= link_to "グループ一覧",groups_path,class: "dropdown-item" %>
        </div>
      </div>

      <%= link_to destroy_user_session_path,method: :delete,class: "btn btn-secondary mr-3" do %>
        <i class="fa-solid fa-right-from-bracket"></i>
        ログアウト
      <% end %>
    </div>
  <% else %>
    <div class="ml-auto">
      <%= link_to "トップへ",root_path,class: "btn btn-secondary mr-3" %>
      <%= link_to "　紹介　",about_path,class: "btn btn-secondary mr-3" %>
      <%= link_to "新規登録",new_user_registration_path,class: "btn btn-secondary mr-3" %>
      <%= link_to "ログイン",new_user_session_path,class: "btn btn-secondary mr-3" %>
    </div>
  <% end %>
</div>